ion-img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
  }
  
  ion-card {
    margin: 15px;
  }

.damage-class-icon {
  width: 80px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.moves-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .moves-table th,
  .moves-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .moves-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin: 16px 0;
  }

  .type-relations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  
  .type-section {
    flex: 1 1 calc(50% - 16px);
    text-align: center;
  }
  
  .types {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  
  .type-icon {
    width: 80px;
    height: 16px;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  

  /* Seccion cadena evolutiva */
  .evolution-chain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .evolution-stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .evolution-details {
    margin-bottom: 8px;
  }
  
  .evolution-sprite {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
  
  .evolution-name {
    margin: 8px 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .evolution-conditions {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #666;
  }
  
  .evolution-connector {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: gray;
  }
  
  .effectiveness-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
  }
  
  .effectiveness-section {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .type-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .effectiveness-section h3 {
    text-align: center;
    color: #333;
  }
  