<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pokemonDetails?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemonDetails">
  <!-- Imagen principal del Pokémon -->
  <ion-img [src]="pokemonDetails.sprites.front_default"></ion-img>

  <!-- Detalles básicos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <strong>Type:</strong>
        <span *ngFor="let type of pokemonDetails.types">
          <img
            [src]="'assets/type-icons/' + type.type.name + '.png'"
            [alt]="type.type.name"
            class="type-icon"
          />
        </span>
      </p>
      <p><strong>Height:</strong> {{ pokemonDetails.height }}</p>
      <p><strong>Weight:</strong> {{ pokemonDetails.weight }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Descripción -->
  <ion-card *ngIf="description">
    <ion-card-header>
      <ion-card-title>Description</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ description }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Tipos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Types</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="types">
        <img
          *ngFor="let type of pokemonDetails?.types"
          [src]="'assets/type-icons/' + type.type.name + '.png'"
          [alt]="type.type.name"
          class="type-icon"
        />
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Fortalezas y debilidades -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Offensive Effectiveness</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card *ngFor="let effectiveness of offensiveEffectiveness">
        <ion-card-header>
          <img
          [src]="'assets/type-icons/' + effectiveness.type + '.png'"
          [alt]="effectiveness"
          class="type-icon"
          />
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <h5>Super Effective:</h5>
            <ion-col *ngFor="let type of effectiveness.strengths">
              <img
              [src]="'assets/type-icons/' + type + '.png'"
              [alt]="type"
              />
            </ion-col>
          </ion-item>
          <ion-item>
            <h5>Not Very Effective:</h5>
            <ion-col *ngFor="let type of effectiveness.weaknesses">
              <img
              [src]="'assets/type-icons/' + type + '.png'"
              [alt]="type"
              />
            </ion-col>
          </ion-item>
          <ion-item>
            <h5>No Effect:</h5>
            <ion-col *ngFor="let type of effectiveness.ineffectives">
              <img
              [src]="'assets/type-icons/' + type + '.png'"
              [alt]="type"
              />
            </ion-col>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Weaknesses and Resistances</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h4>x4:</h4>
              <div *ngFor="let weakness of defensiveWeaknesses | filterByMultiplier: 'x4'">
                <img
                [src]="'assets/type-icons/' + weakness.type + '.png'"
                [alt]="weakness.type"
                />
              </div>
            </ion-col>
            <ion-col>
              <h4>x2:</h4>
              <div *ngFor="let weakness of defensiveWeaknesses | filterByMultiplier: 'x2'">
                <img
                [src]="'assets/type-icons/' + weakness.type + '.png'"
                [alt]="weakness.type"
                />
              </div>
            </ion-col>
            <ion-col>
              <h4>1/2:</h4>
              <div *ngFor="let resistance of defensiveResistances | filterByMultiplier: '1/2'">
                <img
                [src]="'assets/type-icons/' + resistance.type + '.png'"
                [alt]="resistance.type"
                />
              </div>
            </ion-col>
            <ion-col>
              <h4>1/4:</h4>
              <div *ngFor="let resistance of defensiveResistances | filterByMultiplier: '1/4'">
                <img
                [src]="'assets/type-icons/' + resistance.type + '.png'"
                [alt]="resistance.type"
                />
              </div>
            </ion-col>
            <ion-col>
              <h4>Immune To:</h4>
              <div *ngFor="let immunity of defensiveImmunities">
                <img
                  [src]="'assets/type-icons/' + immunity + '.png'"
                  [alt]="immunity"
                />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </ion-card>
  

  

  
  


  
  
  
  
  <ng-template #noData>
    <span>None</span>
  </ng-template>
  
  
  

  <!-- Habilidades -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Abilities</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ability of abilityDetails">
            <td>{{ ability.name | titlecase }}</td>
            <td>{{ ability.effect }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>

  <!-- Cadena evolutiva -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Evolution Chain</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="evolution-chain">
        <div *ngFor="let evolution of evolutionChain">
          <div class="evolution-stage">
            <img
              [src]="evolution.sprite || 'assets/default-sprite.png'"
              [alt]="evolution.name"
              class="evolution-sprite"
            />
            <p class="evolution-name">{{ evolution.name | titlecase }}</p>
            <ul *ngIf="evolution?.conditions && evolution.conditions.length > 0" class="evolution-conditions">
              <li *ngFor="let condition of evolution.conditions">{{ condition }}</li>
            </ul>
                      
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Estadísticas base -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Base Stats</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li *ngFor="let stat of pokemonDetails.stats">
          {{ stat.stat.name | titlecase }}: {{ stat.base_stat }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- Detalles adicionales -->
  <ion-card *ngIf="habitat || shape">
    <ion-card-header>
      <ion-card-title>Additional Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Habitat:</strong> {{ habitat | titlecase }}</p>
      <p><strong>Shape:</strong> {{ shape | titlecase }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Movimientos categorizados -->
  <ng-container *ngFor="let category of moveCategories">
    <ion-card *ngIf="categorizedMoves[category] && categorizedMoves[category].length > 0">
      <ion-card-header>
        <ion-card-title>{{ category | titlecase }} Moves</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <table class="moves-table">
          <thead>
            <tr>
              <th>Move</th>
              <th>Type</th>
              <th>Power</th>
              <th>PP</th>
              <th>Accuracy</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let move of categorizedMoves[category]">
              <td>{{ move.name | titlecase }}</td>
              <td>
                <img [src]="move.typeIcon" [alt]="move.type" class="type-icon" />
                {{ move.type | titlecase }}
              </td>
              <td>{{ move.power }}</td>
              <td>{{ move.pp }}</td>
              <td>{{ move.accuracy }}</td>
              <td>
                <img [src]="move.damageClassIcon" [alt]="move.damageClass" class="damage-icon" />
                {{ move.damageClass | titlecase }}
              </td>
            </tr>
          </tbody>
        </table>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
